@import 'setup/reset.scss';
@import 'setup/rules.scss';

body{
	background: #000;
	color:#fff;
	min-height: 100vh;
}

#gameover-box{
	width:100%;
	max-width:to-em(860px);
	margin:auto;
	top:10em;
	text-align:center;
	position: relative;
	z-index:2;
	h1{
		font-size:4vh;
		display: block;
		margin-bottom:1rem;
		font-family: $playfair;
		text-transform: uppercase;
		border-bottom:1px solid #fff;
		padding-bottom:.5em;
	}
}
#fade{
	@include dim(rgba(40, 40, 40, .4));
	z-index:1;
}
#gameover-canvas{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	overflow: hidden;
	z-index:0;
	animation: opacityFadeIn 1.4s 1;
	video{
		min-height:100vh;
		min-width:100%;
		width:auto;
	}
}
#choices{
	font-size:1.3em;

}
#choice-percentage{
	color: lighten($red, 15%);
	animation: colorSlide 1.2s 1;
}
#epilogue{
	text-align:left;
	display:block;
	margin:1em 0;
	line-height:1.75em;
	font-size:1.3em;
	font-style: italic;
}
#reference{
	display:block;
	text-align: left;
	font-size:90%;
}
#replay{
	margin-top:3em;
	display:inline-block;
	padding:.55em 2em;
	background: #fff;
	color:$black;
	transition: .3s;
	&:hover{
		background: darken(#fff, 20%);
		color:lighten($black, 20%);
	}
}
@include fade(#replay, 6s, 0);

@keyframes opacityFadeIn{
	from{
		opacity:0;
	}
	to{
		opacity: 1;
	}
}

@keyframes colorSlide{
	from{
		color: $red;
	}
	to{
		color: lighten($red, 15%);
	}
}

@include slide(#gameover-box, 3s, 0, 10em, 0);