// Fonts

$caslon: "adobe-caslon-pro",serif;
$arial: 'Arial', Helvetica Neue, Helvetica, roboto, sans-serif;
$abrilDisplay: "abril-display", playfair display, Georgia, sans-serif;
$acumin: "acumin-pro",sans-serif;
$playfair: 'Playfair Display', serif;

// Colors

$black: 	#252525;
$punchy: 	#F62459;
$blue: 		#3498DB;
$green: 	#2ECC71;
$teal:		#1BA39C;
$orange:	#D35400;
$brick: 	#b83e22;
$white:		#f9f6f1;
$dblue: 	#024883;
$gray:		#ececec;
$dgray:		#959595;
$red: 		#D91E18;
$sunflower: #ffb307;
$umber:		#b2392e;
$sapphire: 	#58a6aa;


// branding

$seablue: #194850;
$seagreen: #5f8f69;

// Universal Rules

body{
	overflow-x:hidden;
	position:relative;
	width:100%;
	max-width:100%;
	max-width:100vw;
}
a{
	color:inherit;
	&:hover{
		text-decoration: underline;
	}
}

// Mixins


@mixin centerXY(){
	position:absolute;
	top: -9999em;
	bottom: -9999em;
	left: -9999em;
	right: -9999em;
	margin:auto;
}
@mixin centerY(){
	position:absolute;
	top: -9999em;
	bottom: -9999em;
	margin:auto;
}
@mixin centerX(){
	position: absolute;
	left: -9999em;
	right: -9999em;
	margin: auto;
}
@mixin cover(){
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
@mixin dim($bg){
	@include cover();
	background: $bg;
}

@mixin clear(){
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
@mixin square($width, $amount, $margin){
		width: (100 - (($amount - 1) * $margin )) / $amount + %;
		height: ((100 - (($amount - 1) * $margin )) / $amount) * ($width / 100) + vw;
		margin-right:$margin + %;
}
@mixin button($color, $background: invert($color), $font: inherit){
	display:inline-block;
	clear:both;
	padding:.35em 1.5em;
	padding:.35rem 1.5rem;
	font-family:$font;
	text-align:center;
	color:$color;
	border:1px solid $color;
	background:$background;
	transition: .2s;
	height:auto;
	cursor:pointer;
	&:hover{
		color: invert($color);
		border:1px invert($color);
		background: invert($background);
	}
	&::after, &::before{
		@include clear();
	}
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin line-height($heightValue: 12 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.125 * $heightValue) + rem;
}

@mixin hide(){
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

@mixin text-inset($color, $opacity: 0.7) {

	@if lightness($color) < 50% {
	text-shadow: 1px 1px 1px rgba(#fff, $opacity);
	} @else {
	text-shadow: -1px -1px 1px rgba(#000, $opacity);
	}
	color: $color;
}

@mixin blocks($name, $count, $margin: 0, $offset: 0 ){
	.#{$name}{
		width: (100 - (($count - 1) * $margin ))  / $count + %;
		margin-right: $margin + %;
		float:left;
	}
	.#{$name}:nth-child(#{$count}n + #{$offset} ){
		margin-right:0;
		&::after{
			@include clear();
		}
	}
	.#{$name}:first-child{
		clear:both;
		background: red;
		&::before{
			@include clear();
		}
	}
	
}

@mixin jazzy-hamburger($height, $thickness, $color: $black){
	// Fancy CSS menu, $height in EM, $thickness in PX
	
	$totalThickness: $thickness * 3 + px;

	.hamburger-menu {
	    display: inline-block;
	}

	.hamburger-menu span {
	    background: $color;
	    border-radius: $thickness + px;
	    display: block;
	    height: 12.5%;
	    max-height: to-em($thickness);
	    margin-top: calc( (100% - #{$totalThickness} ) / 3);
	    padding: 0;
	    position: relative;
	    transition: all 0.2s ease;
	    width: 100%;
	}
	.hamburger-menu span:first-child{
		margin-top:($thickness * 3) / 2 + px;
	}
	  
	.hamburger-menu.active span:nth-of-type(1) {
	    -webkit-transform: rotate3d(0, 0, 1, 45deg);
	    transform: rotate3d(0, 0, 1, 45deg);
	    top: (((  $thickness * 3) + ( $thickness / 2)) / $height) * 100 + em;
	}

	.hamburger-menu.active span:nth-of-type(2) {
	    opacity: 0;
	}

	.hamburger-menu.active span:nth-of-type(3) {
	    -webkit-transform: rotate3d(0,0,1,-45deg);
	    transform: rotate3d(0,0,1,-45deg);
	    top: -62.75%;
	}
}

// Animation Mixins

@mixin slide($element, $duration, $offsetX: 0, $offsetY: 0, $opacity: false){
	#{$element}{
		animation: slide-#{$duration * 10} $duration 1;
	}
	@keyframes slide-#{$duration * 10}{
		from{
			transform: translate($offsetX, $offsetY);
			@if($opacity != false){
				opacity: $opacity;
			}
		}
		to{
			transform:translate(0,0);
			@if($opacity != false){
				opacity: 1;
			}
		}
	}
}

@mixin fade($element, $duration, $starting_opacity: 0, $ending_opacity: 1){
	#{$element}{
		animation: fade-#{$duration * 10} $duration 1; 
	}
	@keyframes fade-#{$duration * 10}{
		from{
			opacity: $starting_opacity;
		}
		to{
			to: $ending_opacity;
		}
	}
}
@mixin triangle($direction, $size: 1em, $color: $black){
	width:0;
	height:0;
	@if($direction == 'up'){
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
	}
	@if($direction == 'down'){
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
	}
	@if($direction == 'left'){
		border-top: $size solid transparent;
		border-bottom: $size solid transparent; 
		border-right:$size solid $color; 
	}
	@if($direction == 'right'){
		border-top: $size solid transparent;
		border-bottom: $size solid transparent; 
		border-left:$size solid $color; 
	}
}



//  Functions

@function to-em($pixels) {
	@return strip-unit($pixels) / 16 + em;
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@function to-percent($parent, $child){
	@return ($child / $parent) * 100 + %;
}

@function pt-em($pt){
	@return strip-unit($pt) / 12 + em;
}