// Landing for users

$hover-color: $red;

.button-wrapper {
  text-decoration:none;
  color:white;
  overflow:hidden;
  display:block;
  margin:0.75em;
  &:hover{
  	text-decoration: none;
  	&::after, &::before{
	  border-color:$hover-color;	
  	}
  }
}

.button {
  letter-spacing:.5em;
  text-align:center;
  padding:0.75em 1.25em 0.75em 1.75em;
  border: to-em(2px) solid #fff;
  background: #fff;
  color: $black;
  white-space: nowrap;
  transition: border-color 500ms ease, color 250ms ease;
  &::after, &::before{
  	border-style:solid;
  	border-color:#fff;
  	border-width:0;
  	transition: border-color 500ms ease;
  }
  &:hover{
  	color:$hover-color;
  	border-color:$hover-color;
  }
}

// Diamond Button

.diamond {
  border-width:2px 0;
  position:relative;
  display:block;
  padding:0.75em 0 0.75em 0.5em;
  margin-left:1.6em;
  margin-right:1.6em;
  z-index:1;
  &::before{
  	content: "";
  	display:inline-block;
  	border-bottom-width:2px;
  	border-left-width:2px;
  	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	-o-transform: rotate(45deg);
  	transform: rotate(45deg);
  	-webkit-transform-origin: 0% 100%;
  	-moz-transform-origin: 0% 100%;
  	-ms-transform-origin: 0% 100%;
  	-o-transform-origin: 0% 100%;
  	transform-origin: 0% 100%;
  	position:absolute;
  	top:-50%;
  	bottom:50%;
  	left:-1.55em;
  	right:0;
  	z-index: 0;
  }
  &::after{
  	content: "";
  	display:inline-block;
  	border-bottom-width:2px;
  	border-right-width:2px;
  	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
  	-o-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	-webkit-transform-origin: 100% 100%;
  	-moz-transform-origin: 100% 100%;
  	-ms-transform-origin: 100% 100%;
  	-o-transform-origin: 100% 100%;
  	transform-origin: 100% 100%;
  	position:absolute;
  	top:-50%;
  	bottom:50%;
  	left:0;
  	right:-1.55em;
  	z-index:0;
  }
}

// Ribbon Button

.ribbon {
  border-width:2px 0;
  position:relative;
  display:block;
  padding:0.75em 0 0.75em 0.5em;
  z-index:1;
  &::before{
  	content: "";
  	display:inline-block;
  	border-bottom-width:2px;
  	border-left-width:2px;
  	-webkit-transform: rotate(-135deg);
  	-moz-transform: rotate(-135deg);
  	-ms-transform: rotate(-135deg);
  	-o-transform: rotate(-135deg);
  	transform: rotate(-135deg);
  	-webkit-transform-origin: 0% 100%;
  	-moz-transform-origin: 0% 100%;
  	-ms-transform-origin: 0% 100%;
  	-o-transform-origin: 0% 100%;
  	transform-origin: 0% 100%;
  	position:absolute;
  	top:-50%;
  	bottom:50%;
  	left:1.6em;
  	right:0;
  	z-index:0;
  }
  &::after{
	content: "";
	display:inline-block;
	border-bottom-width:2px;
	border-right-width:2px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	position:absolute;
	top:-50%;
	bottom:50%;
	left:0;
	right:1.6em;
  }
}





// SCSS file for the game ui
#bg-target{
	width:100%;
	position: relative;
  overflow: hidden;
	min-height:100vh;
	background-color: #252525;
	background-size: cover !important;
	transition: background .5s;
	#bg-fade{
		@include dim(rgba(50, 50, 50, .4));
		opacity: 0;
		transition: opacity 1s;
	}
}
#main-box{
	width:100%;
	max-width: to-em(760);
	height: 100%;
	position:relative;
  min-height: 100vh;
	background: rgba(50, 50, 50, .7);
	color: #fff;
	padding:2em 1.5em;
	border-right: to-em(2px) solid #fff;
}
#ajax-text{
	font-size:1.2em;
	line-height:1.5em;
}
#ajax-choices{
	.button{
		letter-spacing: 0;
		background: transparent;
		color: #fff;
		&:hover{
			color: $red;
			&::before, &::after{
				border-color: $red;
			}
		}
	}
	.long{
		font-size:90%;
		white-space: wrap;
	}
}
#ajax-title{
	font-size:2em;
	display: block;
	margin-bottom:.5em;
  font-family: $playfair;
}


// Modal menu Popup 

#modal{
  background: #fff;
  max-width:to-em(500px);
  transition: opacity 1s, transform .5s;
  @include centerXY();
  text-align: center;
  z-index:100;
  #item-image{
    height:50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin:.5em 0;
  }
  #item-title{
    display: block;
    font-size:1.6em;
    font-family: $playfair;
    text-align: center;
  }
  .instruction{
    color:#888;
  }
  #close-button{
    height: 5em;
    background: $black;
    width:100%;
    position: absolute;
    left:0;
    bottom:0;
    line-height: 5rem;
    color: #fff;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: background .3s;
    &:hover{
      background: lighten($black, 5%);
    }
  }
}
.hidden-modal{
  opacity:0;
  visibility: hidden;
  height:0;
  width:0;
  transform: translateY(10em);
}
.visible-modal{
  transform: translateY(0);
  visibility: visible;
  opacity:1;
  height:30em;
  width:100%;
}

#page-dim{
  @include dim(rgba(40, 40, 40, .7));
  transition: opacity 1s;
}
.page-dim-inactive{
  opacity:0;
  height:0;
  width: 0;
  visibility: hidden;
  z-index:-1000;
}
.page-dim-active{
  height:100%;
  width: 100%;
  visibility: visible;
  z-index:99;
  opacity:1;
}

@media screen and (max-width:960px){
	#main-box{
		position: relative;
	}
}