#landing-page-wrapper{
	width:100%;
	height:100vh;
	position: relative;
	overflow:hidden;
	background: url(../img/bg.jpg) no-repeat center;
	background-size:cover;
	#login-box{
		width:100%;
		max-width:38em;
		height:15em;
		@include centerXY();
		.button{
			padding:.75em 2em;
			display: block;
			max-width:50%;
			margin:auto;
		}
	}
	.wrap{
		padding:4em;
		position: relative;
		z-index:100;
	}
	#fade{
		z-index:1;
		@include dim(transparent);
	}
	#bg-vid{
		position:absolute;
		z-index:0;
		width:auto;
		min-height:100%;
	}
}

#logo-wrapper{
	margin-bottom:2em;
	width:100%;
	svg{
		width:100%;
		height:100%;
		fill: #fff;
	}
}