#register-page-wrapper{
	min-height:100vh;
	h3{
		font-family: $arial;
		font-size:2em;
		display:block;
		margin-bottom: 1em;
	}
	label{
		font-family: $arial;
		font-weight:bold;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	#register-block{
		width:100%;
		max-width:to-em(450px);
		background: url(../img/side_panel.png) repeat center;
		background-size: contain;
		padding:1em 4em 1em 1em;
		min-height:100vh;
		position: relative;
		z-index:1;
		input{
			width:100%;
			min-height: 3.5em;
			border:1px solid $black;
			border-bottom:2px solid lighten($black, 10%);
		}
		.field{
			height:4.875em;
		}
	}
	#register-canvas{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100vh;
		z-index:0;
		overflow:hidden;
		video{
			min-height:100vh;
			min-width:100%;
			width:auto;
		}
	}
	&::after{
		@include clear();
	}
}