#dice-wrapper{
	position: relative;
	#dice{
		background: #fff;
		color: $black;
		text-align: center;
		height:8em;
		width:8em;
		height:8rem;
		width:8rem;
		margin:auto;
		border-radius:to-em(5px);
		font-size:1.5rem;
		cursor: pointer;
		line-height:8rem;
		user-select: none;
		span{
			font-size:2em;
		}
	}
}
.dice-hidden{
	display: none;
}
.dice-visible{
	display: block;
}