#inventory-wrapper{
	width:15em;
	position: fixed;
	top:0;
	transition: right .7s;
	color: #fff;
	z-index:90;
	&::after{
		@include clear();
	}
}
#inventory-toggle{
	width:4em;
	height:8em;
	background: $black;
	float:left;
	cursor: pointer;
	position: relative;
}
#arrow{
	@include triangle('left', to-em(12px), #fff);
	@include centerXY();
	transition: transform .5s;
}
#inventory-body{
	width:11em;
	float:left;
	background: #fff url(../img/stone.png) repeat-y center;
	min-height:100vh;
	background-size:100% auto;
}

#inventory-list{
	position: relative;
	li{
		height:10em;
		width:10em;
		max-height:20vh;
		margin:1em auto;
		text-align: center;
		img{
			max-width:80%;
			max-height:80%;
			width:auto;
			height:auto;
			transition: .4s;
		}
		span{
			display:block;
			visibility: hidden;
			text-align: center;
			opacity: 0;
			transition: opacity .4s;
			color: $black;
		}
		&:hover{
			img{
				max-width:70%;
				max-height:70%;
			}
			span{
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

.inventory-invisible{
	right:-15em;
}
.inventory-pulse{
	#inventory-toggle{
		animation: colorPulse 3s 5;
	}
}
.inventory-hidden{
	right:-11em;
}
.inventory-visible{
	right: 0;
	#arrow{
		transform: rotate(180deg);
	}
}

@keyframes colorPulse{
	0%{
		background: $black;
	}
	50%{
		background: $red;
	}
	100%{
		background: $black;
	}
}

@media screen and (max-width: to-em(960px)){
	#inventory-wrapper{
		height: 100%;
		height: 100vh;
		width:100%;
		top: auto;
		transition: bottom 1s;
		#inventory-toggle{
			width:100%;
			height:3.5em;
			float: none;
			max-width: 6em;
		}
		#inventory-body{
			height: 11.5em;
			width:100%;
			float:none;
		}
		#inventory-list{
			text-align: left;
			li{
				display:inline-block;
				width:50%;
				span{
					visibility: visible;
					opacity: 1;
				}
				&:hover{
					img{
						max-width:80%;
						max-height:80%;
					}
				}
			}
		}
	}
	.inventory-hidden{
		bottom: calc( (100vh - 3.5em) * -1 );
		right:0;
		#arrow{
			transform: rotate(90deg);
		}
	}
	.inventory-visible{
		bottom:0;
		#arrow{
			transform: rotate(270deg);
		}
	}
}