.message{
	width:100%;
	top:-3em;
	text-align: center;
	height:3em;
	position: fixed;
	left:0;
	z-index:1000;
	color: #fff;
	line-height:3em;
	animation: slideDown 2s 1;
}

// Message states
.success{
	background: $green;
}
.error{
	background: $red;
}

@keyframes slideDown{
	0%{
		top: -3em;
	}
	25%{
		top:0;
	}
	75%{
		top:0;
	}
	100%{
		top:-3em;
	}

}
